@import "theme/colors";

.appBar {
  position: fixed!important;
  font-size: 13px;
  border-bottom: 5px solid $main !important;

  h1 {
    font-size: 18px !important;
    padding-top: 3px !important;
  }
}

body {
  font-family: Roboto, sans-serif;
}

html {
  background-color: $lightGray;
}